database:
  type: pgsql
  user: hevelius
  database: hevelius
  host: localhost
  port: 5432
  password: secret1

paths:
  repo-path: /mnt/volume1/astro
  backup-path: /mnt/volume1/astro/backup

jwt:
  secret-key: your-secret-key-here  # Change this in production!